:root {
    --title-font: 'Roboto', sans-serif;
    --p-font: 'Source Sans Pro', sans-serif;
}

* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
}


/* universal */

#inline img {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}


/* menu */

.desktop {
    display: none;
}

.mobile {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 40px 70px;
}

#menu {
    display: inline-block;
    list-style: none;
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 32px;
    font-family: var(--p-font);
    color: black;
}


/* banner */

.banner {
    background-color: #cbced2;
    width: 100%;
    padding-bottom: 20px;
}

.banner img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.textbox {
    display: block;
    margin: 30px 50px;
    width: 380px;
}

.textbox h2 {
    font-family: var(--title-font);
    font-size: 3rem;
    font-weight: 600;
}

.textbox p {
    font-family: var(--p-font);
    font-size: 1.5rem;
    margin-top: 15px;
    font-weight: 300;
}

.textbox button {
    width: 300px;
    vertical-align: center;
    margin-top: 30px;
    background-color: #31303a;
    transition: background-color 100ms ease-out;
}

#button-p {
    margin: 0;
    text-align: center;
    padding: 10px 0;
    font-weight: 300;
    font-size: 1.3rem;
    color: #ebedee;
}

button:hover {
    background-color: #f4511c;
    cursor: pointer;
}


/* container */

.mobile-container {
    width: 100%;
    margin: 0;
    background-color: #f4f5f5;
}


/* info cards */

.info-card {
    width: 100%;
    padding: 16px;
}

.info-card:hover {
    background-color: #ebedee;
}

.info-card img {
    width: 100%;
}

.info-text {
    display: block;
    width: 380px;
    margin: 20px 16px;
}

.info-text h3 {
    font-family: var(--title-font);
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 8px;
}

.info-text p {
    font-family: var(--p-font);
    font-weight: 300;
    font-size: 1.1rem;
}

.more {
    margin-top: 20px;
}

.more a {
    text-decoration: none;
    color: #f4511c;
    font-family: var(--p-font);
    font-weight: 400;
    font-size: 1.3rem;
}

.more a:hover {
    color: #31303a;
}


/* courses */

.courses {
    display: flex;
    flex-direction: column;
    padding: 40px 50px;
    border-top: solid 0.2px #cbced2;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: stretch;
}

.subheading {
    font-family: var(--title-font);
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.flexbox {
    background-color: #cbced2;
    vertical-align: center;
    text-align: center;
    padding: 27px;
    margin-top: 8px;
    flex-basis: auto;
    width: 100%;
    transition: background-color 100ms linear;
}

.flexbox:hover {
    cursor: pointer;
    background-color: #f4511c;
}

.flexbox p {
    font-family: var(--p-font);
    font-weight: 300;
    font-size: 1.3rem;
}


/* thesis */

.thesis {
    padding: 40px 16px;
    border-top: solid 0.2px #cbced2;
}

.video-container video {
    width: 100%;
    margin-top: 20px;
}


/* footer */

.footer {
    font-family: var(--p-font);
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
    padding: 50px 0 50px 16px;
    background-color: #ebedee;
}

.design {
    font-family: var(--p-font);
    font-size: 1rem;
    font-weight: 300;
    text-align: right;
    padding: 50px 16px 50px 0;
    background-color: #cbced2;
}

@media (min-width: 780px) {
    .mobile {
        display: none;
    }
    .desktop {
        background-color: white;
        display: flex;
        align-items: center;
        width: 100%;
        height: 64px;
        padding: 40px 70px;
    }
    .logo {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding: 0;
    }
    #menu li {
        display: inline-block;
        list-style: none;
        float: right;
        padding: 1rem;
        font-family: var(--p-font);
    }
}